*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1C1C1C;
 
 font-family: sans-serif;
   
}

#container{
    width: 65%;
    height: 70%;
   background-color: #1F2937;
    padding: 5%;

}

.info{
    color: #68B984;
    padding: 0%;
    margin: 0;
  
}



#generate-password-btn{
    padding: 12px;
    font-weight: 900;
    border-radius: 6px;
    border: none;
    background-color: #68B984;
    color: white;
    margin-top:7%;
    width: 160px;
height: 40px;
}

hr{
    margin-top: 7%;
    background-color:white;
    color: white;
    margin-bottom: 5%;
}

.btn{
    background-color:
    #273549;
    margin-top: 50px;
    padding: 10px;
    border: none;
    /* border:1px solid black; */
    width: 170px;
    border-radius: 4px;
    margin-right :100px; 
    color: #68B984;
    font-weight: 300;
    font-size: large;

}

